# OracleDB_Connect_Example

### Create by AkishinoShiame

.  
.  
.

Import library for connect oracle DB use.
Needs to install **python library** also **Oracle client**.

In [2]:
import cx_Oracle

ModuleNotFoundError: No module named 'cx_Oracle'

Setting up the connection details with account/password@IP_Address:Port/SID.

In [ ]:
conn = cx_Oracle.connect('admin/pa$$w0rd@127.0.0.1:1521/test')

Setup the connection to DB.

In [ ]:
cursor = conn.cursor()

Execute for SQL command inside **execute(" *PUT_SQL_HERE* ")**.

In [ ]:
cursor.execute("select * from new_table where key in ( 41001, 41003, 41004, 41005) and temp_status = 1")

Take for the result, *fetchall()* for all data,  
*fetchone()* for per line.

In [ ]:
result = cursor.fetchall()
result_single = cursor.fetchone()

Print out to check the result.

In [1]:
print result  # for Python2
print(result) # for Python3

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(result  # for Python2)? (<ipython-input-1-5528919f139b>, line 1)